@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    @Styles.Render("~/Content/css-login")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/js-account")
    <title>欢迎登陆电子图书管理系统</title>
</head>
<body>
    <script type="text/javascript" color="0,255,0" opacity='0.7' zindex="-2" count="100" src="~/Scripts/canvas-nest.min.js"></script>
<div id="main">
    <input type="text" id="account" placeholder="学号/手机号/邮箱"/>
    <input type="password" id="password" placeholder="请输入密码"/>
    <a href="javascript:;" onclick="login()">登陆</a>
</div>
    <div id="copyright">© 2016 大学生创新创业</div>
</body>

</html>
