@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/js-layer")
    @Scripts.Render("~/Scripts/js-updatpassword")
    <style>
        #newPassword{
            width:590px;
            text-align:center;
            font-family:"Microsoft YaHei";
            padding-top:50px;
        }
        #newPassword span{
            display:inline-block;
            width:80px;
            text-align:right;
        }
        #newPassword input{
            height:40px;
            font-size:16px;
            width: 360px;
            line-height:40px;
            outline-color: #5FBB39;
            border:1px solid #ccc;
            padding-left:30px;
            margin-left:20px;
            margin-bottom:20px;
            border-radius:4px;
        }
        #newPassword a {
            text-align: center;
            text-decoration: none;
            display: block;
            width:500px;
            height:40px;
            line-height:40px;
            border:solid 1px #5FBB39;
            color: #5FBB39;
            border-radius:4px;
            transition: all linear 0.2s;
            -o-transition: all linear 0.2s;
            -ms-transition: all linear 0.2s;
            -webkit-transition: all linear 0.2s;
            -moz-transition: all linear 0.2s;
            margin:30px auto;
        }
        #newPassword a:hover {
            color:#fff;
            background-color:#5FBB39;
        }
    </style>
</head>
<body>
    <div id="newPassword">
        <span>新密码：</span><input type="password" name="pwd1" value="" /><br/>
        <span>确认密码：</span><input type="password" name="pwd2" value="" />
        <a href="javascript:;">保存</a>
    </div>
</body>
</html>
