#addDiv ul{
    list-style:none;
}
#addDiv ul li {
    position:relative;
}
#addDiv ul li span {
    display:inline-block;
    width:100px;
    height:52px;
    line-height:52px;
    text-align:right;
}
#addDiv ul li .input {
    width:500px;
    height:50px;
    line-height:50px;
    margin:0 0 20px 10px;
    padding-left:30px;
    border-radius:4px;
    border:1px solid #ccc;
    outline-color:#5FBB39;
    font-size:20px;
}
#addDiv ul li input[type=checkbox]{
    width:20px;
    height:20px;
    padding:0;
    border:0;
    margin:0;
    vertical-align:middle;
}
#addDiv ul li div{
    position:absolute;
    width:500px;
    left:150px;
    top:10px;
}

#addDiv ul li div span{
    display:inline-block;
    width:130px;
    height:30px;
    line-height:30px;
    text-align:left;
    margin-left:5px;
}

#addDiv a{
    text-decoration:none;
    display:block;
    height:50px;
    line-height:50px;
    width:500px;
    border:1px solid #5FBB39;
    text-align:center; 
    color:#5FBB39;
    margin:50px auto;
    border-radius:4px;
    transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
}
#addDiv a:hover{
    color:#fff;
    background-color:#5FBB39;
}