@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <input id="file" name="file" type="file" />
            <input type="month" name="month" value="" />
            <input type="button" name="name" value="GetTime" onclick="GetTime();" />
            <a href="javascript:;" onclick="SendMessage()">Send Message</a>
        </div>
        <div id="percent">
            0.00%
        </div>

    </div>
    @Scripts.Render("~/Scripts/jquery")
    <script type="text/javascript">
        function GetTime() {
            alert($('input[name="month"]').val());
        }

        function SendMessage() {
            $.post("/Account/SendCheckMessage", null, function () {

            });
        }
    </script>
</body>
</html>