@using LibraryCms.Models
@{
    ViewBag.Title = "私信箱";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)Session["User"];
}

@Styles.Render("~/Content/css-personalcenter")

@Scripts.Render("~/Scripts/js-account")
<div id="personal-head">
    <ul id="personalhead">
        <li><a href="~/Admin/PersonalCenter">个人信息</a></li>
        <li><a href="~/Admin/PersonalCenter/Safety" >账户安全</a></li>
        <li><a href="~/Admin/PersonalCenter/PersonalMail" class="now-page">私信箱</a></li>
    </ul>
    <span>@user.Name<a class="logout" href="javascript:;" onclick="logout()">退出</a></span>
</div>
<div id="mailType">
    <span>新消息</span>
    <hr />
    <span class="check">未读</span>
    <span>已读</span>
    <span>已发送</span>
</div>
<ul id="PersonalMail">
</ul>